// Your custom styles
@import "custom-components/typography";

.header-top-bar {
  background-color: #4e4e4e;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-item-text {
  font-size: larger !important;
  color: $primary !important;
  font-weight: $font-weight-medium;
}

.banner {
  background-image: url("../img/png/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 436px;
  display: block;
}

.about-us {
  p {
    font-size: larger !important;
    line-height: 3rem;
  }
}

.btn-gray-rounded {
  border: 7px solid gray;
  border-radius: 7px;
}

.font-size-x-large {
  font-size: x-large !important;
}
.font-size-larger {
  font-size: larger !important;
}
.font-size-large {
  font-size: large !important;
}
.font-weight-medium {
  font-weight: $font-weight-medium;
}

.footer {
  background-color: #4e4e4e;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
